
@page
@model IEnumerable<ParkingModel>


<h1>Parking List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Parking Id</th>
            <th>Parking Name</th>
            <th>Sessions Created Today</th>
        </tr>
    </thead>
    <tbody>
     
    </tbody>
</table>
